{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div class="page-title">
    <h1>Disney Rider : Connexion</h1>
    <p>Votre compte Disney Rider est valable sur les sites de tous les parcs Disney.<br/>Billets, séjours, pass annuels, tout est au même endroit !</p>
</div>

<form class="secu-form" method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <input placeholder="Adresse e-mail" type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-primary" type="submit">
        Connexion
    </button>
</form>

<p class="text-center">Vous n'avez pas de compte Disney Rider ? <a href="{{ path('app_register') }}">Créez-en un dès maintenant</a>.</p>
{% endblock %}
