{% extends 'admin/base.html.twig' %}

{% block title %}Panel Admin - Disneyland Paris{% endblock %}

{% block body %}
    <h1>Bienvenue, {{ app.user.firstname }} !</h1>
    <p>Depuis le panel admin, gérez les utilisateurs, et le contenu de tout le site web</p>
{% endblock %}