{% extends 'base.html.twig' %}

{% block title %}Mon compte Disney Rider{% endblock %}

{% block body %}

<h1 class="page-title">Bienvenue {{ user.firstname }} !</h1>

            <div class="profile-row">
                <div class="profile-col col-25">
                    <div class="container">
                        <ul class="menu-list">
                            <li>
                                <a class="active" href="/disney-rider">
                                    <div>
                                        <span>Accueil</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/disney-rider/infos">
                                    <div>
                                        <span>Mes informations</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                        <ul class="menu-list middle">
                            <li class="Item-pfhot3-2 kRHUJs">
                                <a href="/disney-rider/bookings" target="">
                                    <div>
                                        <span>Mes réservations</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="/disney-rider/bookings/tables" target="">
                                    <div>
                                        <span>Mes tables</span>
                                    </div>
                                </a>
                            </liclass=>                                      
                        </ul>
                        <ul class="menu-list">
                            {% if is_granted("ROLE_ADMIN") %}
                                <li>
                                    <a href="/admin">
                                        <div>
                                            <span>Accès administrateur</span>
                                        </div>
                                    </a>
                                </li>
                            {% endif %}
                            <li>
                                <a href="/logout">
                                    <div>
                                        <span>Déconnexion</span>
                                    </div>
                                </a>
                            </li>                                      
                        </ul>
                    </div>
                </div>
                <div class="profile-col col-75">
                    
                </div>
            </div>

{% endblock %}
